.images{
    width: 100%;
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
    padding-top: 1em;
}
.images__image{
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
    transition: all .3s ease-in-out;
}
.images__image:hover{
    scale: 1.05;
    z-index: 10;
    cursor:pointer;
}
.images__image__img{
    max-width: 100%;
    border-radius: 15px;
}
.contentBtnsCardImage{
    display: flex;
     flex-Direction: column;
     gap: .5em;
    top: .5em;
    left: .5em;
    position: absolute
}

.image-skeleton__shimmer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  z-index: 1;
  pointer-events: none;
}
.btnCardImage{
    width: max-content;
    padding: .6em;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.btnCardImage:hover{
    cursor: pointer;
    scale: 1.1;
    transition: all .3s ease-in-out;
}
.btnCardImage::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    opacity: 0.6;
    border-radius: 1em;
    z-index: -1;
}
.btnPagination{
    position: relative;
    transition: all .3s ease-in-out;
}

.btnPagination:hover,
.btnPagination:hover .btnPagination{
    cursor: pointer;
    opacity: .6;
    scale: 1.1;
}

.btnPaginationDisable:hover{
    cursor: not-allowed
}

@keyframes shimmer {
  to {
    background-position: -200% 0;
  }
}
@media only screen and (max-width:1024px) {
    .images {
        columns: 2;
        margin-top: 0;
    }
    .images__image{
        margin-bottom: 5px;
    }
}
@media only screen and (max-width:430px) {
    .images {
        columns: 1;
        margin-top: 0;
    }
    .images__image{
        margin-bottom: 5px;
    }
}
