.contentMainInfoImage{
    display: flex;
}
.contentLeftInfoImage{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 4em
}
.contentRightInfoImage{
    width: 50%;
    padding: 2em 4em
}
.swiper {
    width: 100% !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  
  .swiper-slide {
    background-position: center !important;
    background-size: cover !important;
    width: 500px !important;
    height: 500px !important;
  }
  .btnSocial{
    border-radius: 1em;
    background: #F0F1F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    transition: all .3s ease-in-out;
  }
  .btnSocial:hover{
    scale: 1.1;
    background: #fff;
    box-shadow: 0 0 10px 1px #36A1F4;
  }
  .contentImageInfoImage {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 1em;
  }
  
  .contentImageInfoImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
    transition: opacity 0.3s ease;
  }
  
  .contentImageInfoImage .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fondo oscuro con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 1em;
    z-index: 2;
  }
  .contentImageInfoImage:hover{
    cursor: pointer;
  }
  .contentImageInfoImage:hover img {
    opacity: 0.5;
  }
  
  .contentImageInfoImage:hover .overlay {
    opacity: 1;
  }
  
  .overlay-text {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 1em;
  }

  .modalPhotoInfo{
    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .modalPhotoInfo::before{
    content: '';
    width: 100%;
    height: 100%;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    z-index: -1;
  }

  .closeBtnModal{
    position: absolute;
    right: 5%;
    top:  5%;
    transition: all .3s ease;
  }
  .closeBtnModal:hover{
    cursor: pointer;
    scale: 1.1;
  }