.contentMainInfoImage{
    display: flex;
}
.contentLeftInfoImage{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 4em
}
.contentRightInfoImage{
    width: 50%;
    padding: 2em 4em
}
.swiper {
    width: 100% !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  
  .swiper-slide {
    background-position: center !important;
    background-size: cover !important;
    width: 500px !important;
    height: 500px !important;
  }