.contentMainInfoImage{
    display: flex;
}
.contentLeftInfoImage{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2em 4em;
}
.contentRightInfoImage{
    width: 50%;
    padding: 2em 4em
}
.swiper {
    width: 100% !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  
  .swiper-slide {
    background-position: center !important;
    background-size: cover !important;
    width: 500px !important;
    height: 500px !important;
  }
  .btnSocial{
    border-radius: 1em;
    background: #F0F1F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    transition: all .3s ease-in-out;
  }
  .btnSocial:hover{
    scale: 1.1;
    background: #fff;
    box-shadow: 0 0 10px 1px #36A1F4;
  }
  .contentImageInfoImage {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 1em;
  }
  
  .contentImageInfoImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
    transition: opacity 0.3s ease;
  }
  
  .contentImageInfoImage .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fondo oscuro con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 1em;
    z-index: 2;
  }
  .contentImageInfoImage:hover{
    cursor: pointer;
  }
  .contentImageInfoImage:hover img {
    opacity: 0.5;
  }
  
  .contentImageInfoImage:hover .overlay {
    opacity: 1;
  }
  .overlay{
    display: flex;
    flex-direction: column;
  }
  .overlay h1 {
    color: white;
    margin: 0;
  }
  .contentPhotoModal{
    height: 90%;
    margin: 0 auto;
  }
  .modalPhotoInfo{
    display: none;
    position: fixed;
    left: 0;
    width:100%;
    height: 100%;
    top: 0;
    z-index: 10;
    overflow-x: visible;
    align-items: center;
  }
  .modalPhotoInfo::before{
    content: '';
    width: 100%;
    height: 100%;
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: -1;
  }

  .closeBtnModal{
    position: fixed;
    right: 5%;
    top:  5%;
    transition: all .3s ease;
  }
  .closeBtnModal:hover{
    cursor: pointer;
    scale: 1.1;
  }
  .clickIconInfoPhoto{
    padding: .5em;
    position: absolute;
    right: 2%;
    top: 2%;
    animation: animationClick 1.3s infinite ease-in-out;
  }
  .clickIconInfoPhoto::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    opacity: .5;
    z-index: -1;
    border-radius: 50%;
  }
  .sectionInfoAuthor{
    display:flex; 
    flex-direction:row; 
    justify-content: space-between;
  }
  .sectionInfoAuthor:hover{
    cursor: pointer;
  }
  .imgUser{
     border-radius: 50%;
     transition: all .3s ease-in-out;
  }
  .nameUser{
    margin-bottom: .1em;
    font-weight: bold;
    transition: all .3s ease-in-out;
  }
  .photosNumber{
    color: #7A8599;
    transition: all .3s ease-in-out;
  }
  .sectionInfoAuthor:hover .imgUser,
  .sectionInfoAuthor:hover .nameUser{
    scale: 1.1;
  }
  .sectionInfoAuthor:hover .photosNumber{
    scale: 1.1;
    text-decoration: underline;
  }

  @keyframes animationClick{
    0%, 100% { transform: rotatez(0deg); }
    50% { transform: rotatez(30deg); }
  }


  @media only screen and (max-width:1130px) {
    .contentMainInfoImage{
      flex-direction: column;
      padding: 0 .5em;
    }
    .contentLeftInfoImage{
      width: 100%;
      padding: 0;
    }
    .contentImageInfoImage,
    .contentImageInfoImage img{
      border-radius: 0;
      height: 550px;
    }
    .contentLeftInfoImage span:nth-child(4){
      margin-top: 1em !important;
    }
    .swiper {
      padding-top: 1em !important;
      height: 350px;
    }
  }
  @media only screen and (max-width:390px){
    .contentMainInfoImage{
      flex-direction: column;
    }
    .contentLeftInfoImage{
      width: 100%;
      padding: 0;
    }
    .contentImageInfoImage,
    .contentImageInfoImage img{
      border-radius: 0;
      height: 350px;
    }
    .contentLeftInfoImage span:nth-child(4){
      margin-top: 1em !important;
    }
    .swiper {
      padding-top: 1em !important;
      height: 350px;
    }
  }

  